# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.

PORT=8000
FRONTEND_URL=http://localhost:5173
LAYER8_URL=http://localhost:5001

# DATABASE CONFIGURATION
# run the following command to start a postgres container with docker
# docker run --env=POSTGRES_PASSWORD=1234 --env=POSTGRES_USER=postgres --env=POSTGRES_DB=postgres -p 5432:5432 postgres:latest
EXTERNAL_DB_URL=postgres://postgres:1234@localhost:5432/postgres

# JWT CONFIGURATION
JWT_SECRET=OurSecretKey